@font-face {  
    font-family: 'Neogrotesk';  
    src: url('path/to/neogrotesk-smallcaps-regular.woff2') format('woff2'),  
         url('path/to/neogrotesk-smallcaps-regular.woff') format('woff'),  
         url('path/to/neogrotesk-smallcaps-regular.ttf') format('truetype');  
    font-weight: normal;  
    font-style: normal;  
    font-variant: small-caps; /* Enables small caps */  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Neogrotesk', sans-serif;  

}

body{
    font-size: 22px;
    background-color: #F3EFE8;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.logo > h1{
    font-weight: 1000;
}

.links a{
    font-size: 25px;
    font-weight: 500;
}

.connect-btn a{
    font-size: 27px;
}


.home-content-container h1{
    font-size: 3.4rem;
    font-weight: 600;
    
}

.home-img{
    z-index: -2;
    display: flex;
    justify-content: center;
}

.home-img img{
    min-width: 29rem;
    
}

.height-full{
    min-height: 100vh;
}

.home{
    height: calc(100vh - 110px);
    padding: 9rem 10rem;
}


.custom-underline {  
    position: relative;  
    display: inline-block;
}  
  
.custom-underline::after {  
    content: '';  
    position: absolute;  
    left: 0;  
    right: 0;  
    bottom: 4px; 
    height: 16px;  
    background-color: #FFDA0B; 
    rotate: 3deg;
    z-index: -1; 
} 

.custom-underline-small {  
    position: relative;  
    display: inline-block;
}  
  
.custom-underline-small::after {  
    content: '';  
    position: absolute;  
    left: 0;  
    right: 0;  
    bottom: 4px; 
    height: 7px;  
    background-color: #FFDA0B; 
    rotate: 2deg;
    z-index: -1; 
} 

.home-img-yellow-bg{
    width: 27.8rem;
    height: 27.8rem;
    background-color: #FFDA0B;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    
}
.sliding-roll-container {
    display: flex;
    align-items: center;
    min-width: fit-content;
}

.slide-div{
    gap: 20px;
}
.sliding-roll-container div{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    color: white;
    min-width: 100%;
    /* animation: slide 2s linear infinite; */
    position: relative;
    left: -100%;
    animation: slide 9s linear infinite;
    
}





@keyframes slide {  
    0% {  
        transform: translateX(0);  
    }  
    
    100% {  
        transform: translateX(100%); 
    }  
}  


.services{
    padding: 50px;
}
.service-card{
    width: 100%;
    padding: 2.5rem;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    font-size: 30px;
}

.portfolios{
    padding: 50px;
}

.portfolios-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    font-size: 30px;
}

.testimonials-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    font-size: 30px;
}

.user-icon-container{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5rem;
    border: 7px #F3EFE8 solid;
}

.testimonials{
    padding: 50px;
}

.testimonials-card-text{
    font-size: 21px;
    font-weight: 600;
   
}

.testimonials-content > div{
    padding: 2rem;
}

.open i:first-child{
    position: relative;
    left: 27px;
}

.open{
    position: relative;
    top: -10px;
}

.close i:last-child{
    position: relative;
    left: -22px;
}

.close{
    position: relative;
    bottom: -10px;
}

footer{
    padding: 150px;
}

.section-header{
    font-size: 3.75rem;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}
@media (max-width: 900px) {
    .services{
        padding: 20px;
    }
    .services-content{
        display: flex;
        flex-direction: column;

    }

    .service-card{
        font-size: 20px;
        padding: 2.5rem 1rem;
    }

    .portfolios{
        padding: 20px;
    }
    .portfolios-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;

    }

    .testimonials-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .testimonials-content > div{
        margin-top: 80px;
        padding: 1rem;
    }

    .testimonials{
        padding: 20px;
    }

    
    body{
        font-size: 18px;
    }

    .section-header{
        font-size: 35px;
    }
    .home{
        padding: 10px;
  
    }
    .home-img{
        display: none;
    }
    .home-content-container > h1{
        font-size: 30px;
    }
    #home-ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .home-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .connect-btn{
        width: fit-content;
    }
    .connect-btn a{
        padding: 10px 20px;
        width: 100%;
    }

    .slide-div{
        gap: 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .footer-links{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        font-size: 13px;
        text-wrap: wrap;
    }

    .footer-links > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}